@charset "UTF-8";

/*---------- reset部分 ----------*/
html,body{width:100%;height:100%;margin:0;padding:0;background-color:#f3f3f3;}
html,body,input,button,textarea,select,table,th,td{font-family:'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB','\5B8B\4F53',Arial;color:#666666;}
button,dd,dl,dt,ul,ol,li,form,img,input,p,div,td,th,h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:0;outline:0;box-sizing:border-box;font-weight:normal;}
ul,ol,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a img,img{-ms-interpolation-mode:bicubic;}
a{cursor:pointer;text-decoration:none;}
span,em,i{font-style:normal;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
a,select,textarea{outline:0px;}

/*---------- 排版通用（文字） ----------*/
::-webkit-input-placeholder{color:#c2c2c2;}
::-moz-placeholder{color:#c2c2c2;}
::-ms-input-placeholder{color:#c2c2c2;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.ellipsis{word-bread:break-word;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
a:link,a:visited,a:active,a:hover{color:inherit;}
.blank_1r{display:inline-block;width:1rem;}
.emphasize{color:#ffaf5a;}

/*---------- 布局通用（盒模型） ----------*/
.bg_white{background:#fff;transform:translateY(-1px);}
.vnone{display:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:" ";display:block;visibility:hidden;font-size:0;height:0;line-height:0;clear:both;}
.clearfix{zoom:1;}

/*---------- rem设置（响应式） ----------*/
html{font-size:10px;}
@media only screen and (min-width:360px){html{font-size:12px!important;}}
@media only screen and (min-width:420px){html{font-size:14px!important;}}
@media only screen and (min-width:480px){html{font-size:16px!important;}}
@media only screen and (min-width:540px){html{font-size:18px!important;}}
@media only screen and (min-width:600px){html{font-size:20px!important;}}
@media only screen and (min-width:660px){html{font-size:22px!important;}}
@media only screen and (min-width:720px){html{font-size:24px!important;}}
@media only screen and (min-width:780px){html{font-size:26px!important;}}
@media only screen and (min-width:840px){html{font-size:28px!important;}}
@media only screen and (min-width:900px){html{font-size:30px!important;}}
@media only screen and (min-width:960px){html{font-size:32px!important;}}
@media only screen and (min-width:1020px){html{font-size:34px!important;}}
@media only screen and (min-width:1080px){html{font-size:36px!important;}}
