<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="queryService" class="com.zbjdl.utils.query.impl.QueryServiceImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="querys">
			<map>
				<entry key="queryCommonReport1">
					<bean class="com.zbjdl.utils.query.Query">
						<property name="sql">
							<value>
                                <![CDATA[
								SELECT  *
								 FROM common_report_info
								WHERE type = 'outwork1' 
  									  /~col1: and col1 = {date,string}~/
  									  order by id desc
                                ]]>
							</value>
						</property>
					</bean>
				</entry>
				<entry key="queryCommonReport2">
					<bean class="com.zbjdl.utils.query.Query">
						<property name="sql">
							<value>
                                <![CDATA[
								SELECT  *
								 FROM common_report_info
								WHERE type = 'outwork2' 
  									  /~col1: and col1 = {date,string}~/
  									  order by id desc
                                ]]>
							</value>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>