<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 实体类别名 -->
	<typeAliases>
		<package name="com.zbjdl.oa.model" />
	</typeAliases>

	<!-- 类型转换处理器 -->
	<typeHandlers>
		<typeHandler
			handler="com.zbjdl.common.respository.mybatis.AmountTypeHandler"
			javaType="com.zbjdl.common.amount.Amount" />
	</typeHandlers>

	<!-- 映射文件 -->
	<mappers>
		<mapper resource="sqlmap/UserInfoMapper.xml" /><!-- 用户 -->
	</mappers>

</configuration>