<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbjdl.oa.repository.UserInfoRepository">
	<resultMap id="BaseResultMap" type="UserInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="job_no" jdbcType="VARCHAR" property="jobNo" />
	  <result column="login_name" jdbcType="VARCHAR" property="loginName" />
	  <result column="user_name" jdbcType="VARCHAR" property="userName" />
	  <result column="mobile" jdbcType="VARCHAR" property="mobile" />
	  <result column="password" jdbcType="VARCHAR" property="password" />
	  <result column="region" jdbcType="VARCHAR" property="region" />
	  <result column="city" jdbcType="VARCHAR" property="city" />
	  <result column="duty" jdbcType="VARCHAR" property="duty" />
	  <result column="is_admin" jdbcType="BIT" property="isAdmin" />
	  <result column="status" jdbcType="VARCHAR" property="status" />
	  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
	  <result column="boss_user_id" jdbcType="BIGINT" property="bossUserId" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      	<if test="jobNo != null" >
	      and job_no = #{jobNo,jdbcType=VARCHAR}
	    </if>
      	<if test="loginName != null" >
	      and login_name = #{loginName,jdbcType=VARCHAR}
	    </if>
      	<if test="userName != null" >
	      and user_name = #{userName,jdbcType=VARCHAR}
	    </if>
      	<if test="mobile != null" >
	      and mobile = #{mobile,jdbcType=VARCHAR}
	    </if>
      	<if test="password != null" >
	      and password = #{password,jdbcType=VARCHAR}
	    </if>
      	<if test="region != null" >
	      and region = #{region,jdbcType=VARCHAR}
	    </if>
      	<if test="city != null" >
	      and city = #{city,jdbcType=VARCHAR}
	    </if>
      	<if test="duty != null" >
	      and duty = #{duty,jdbcType=VARCHAR}
	    </if>
      	<if test="isAdmin != null" >
	      and is_admin = #{isAdmin,jdbcType=BIT}
	    </if>
      	<if test="status != null" >
	      and status = #{status,jdbcType=VARCHAR}
	    </if>
      	<if test="bossUserId != null" >
	      and boss_user_id = #{bossUserId,jdbcType=BIGINT}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id,
    job_no,
    login_name,
    user_name,
    mobile,
    password,
    region,
    city,
    duty,
    is_admin,
    status,
    create_time,
    last_update_time,
    boss_user_id,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        job_no = #{jobNo,jdbcType=VARCHAR},
        login_name = #{loginName,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        region = #{region,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        duty = #{duty,jdbcType=VARCHAR},
        is_admin = #{isAdmin,jdbcType=BIT},
        status = #{status,jdbcType=VARCHAR},
  		LAST_UPDATE_TIME = sysdate(),
        boss_user_id = #{bossUserId,jdbcType=BIGINT},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="jobNo != null">
      job_no,
    </if>
    <if test="loginName != null">
      login_name,
    </if>
    <if test="userName != null">
      user_name,
    </if>
    <if test="mobile != null">
      mobile,
    </if>
    <if test="password != null">
      password,
    </if>
    <if test="region != null">
      region,
    </if>
    <if test="city != null">
      city,
    </if>
    <if test="duty != null">
      duty,
    </if>
    <if test="isAdmin != null">
      is_admin,
    </if>
    <if test="status != null">
      status,
    </if>
      CREATE_TIME,
      LAST_UPDATE_TIME,
    <if test="bossUserId != null">
      boss_user_id,
    </if>
  </sql>
  <sql id="Selective_Value_List">
    <if test="jobNo != null">
      #{jobNo,jdbcType=VARCHAR},
    </if>
    <if test="loginName != null">
      #{loginName,jdbcType=VARCHAR},
    </if>
    <if test="userName != null">
      #{userName,jdbcType=VARCHAR},
    </if>
    <if test="mobile != null">
      #{mobile,jdbcType=VARCHAR},
    </if>
    <if test="password != null">
      #{password,jdbcType=VARCHAR},
    </if>
    <if test="region != null">
      #{region,jdbcType=VARCHAR},
    </if>
    <if test="city != null">
      #{city,jdbcType=VARCHAR},
    </if>
    <if test="duty != null">
      #{duty,jdbcType=VARCHAR},
    </if>
    <if test="isAdmin != null">
      #{isAdmin,jdbcType=BIT},
    </if>
    <if test="status != null">
      #{status,jdbcType=VARCHAR},
    </if>
    sysdate(),
    sysdate(),
    <if test="bossUserId != null">
      #{bossUserId,jdbcType=BIGINT},
    </if>
  </sql>
  <select id="findList" parameterType="UserInfo" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from user_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from user_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from user_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="save" parameterType="UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <update id="update" parameterType="UserInfo">
    update user_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>