<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbjdl.oa.repository.WfTaskRemarkRepository">
	<resultMap id="BaseResultMap" type="com.zbjdl.oa.dto.wftask.WfTaskRemark">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="wf_task_id" jdbcType="BIGINT" property="wfTaskId" />
	  <result column="remark" jdbcType="VARCHAR" property="remark" />
	  <result column="create_id" jdbcType="VARCHAR" property="createId" />
	  <result column="create_name" jdbcType="VARCHAR" property="createName" />
	  <result column="create_date" jdbcType="DATE" property="createDate" />
	  <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="wfTaskId != null" >
	      and wf_task_id = #{wfTaskId,jdbcType=BIGINT}
	    </if>
      <if test="remark != null" >
	      and remark = #{remark,jdbcType=VARCHAR}
	    </if>
      <if test="createId != null" >
	      and create_id = #{createId,jdbcType=VARCHAR}
	    </if>
      <if test="createName != null" >
	      and create_name = #{createName,jdbcType=VARCHAR}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="wfTaskId != null">
        wf_task_id = #{wfTaskId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
        UPDATE_DATE = sysdate(),
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    ID,
    wf_task_id,
    remark,
    create_id,
    create_name,
    create_date,
    update_date,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        wf_task_id = #{wfTaskId,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR},
        create_id = #{createId,jdbcType=VARCHAR},
        create_name = #{createName,jdbcType=VARCHAR},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="wfTaskId != null">
      wf_task_id,
    </if>
    <if test="remark != null">
      remark,
    </if>
    <if test="createId != null">
      create_id,
    </if>
    <if test="createName != null">
      create_name,
    </if>
    CREATE_DATE,
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{wfTaskId,jdbcType=BIGINT},
    #{remark,jdbcType=VARCHAR},
    #{createId,jdbcType=VARCHAR},
    #{createName,jdbcType=VARCHAR},
    #{createDate,jdbcType=DATE},
    #{updateDate,jdbcType=DATE},
	</sql>
  <sql id="Selective_Value_List">
    <if test="wfTaskId != null">
      #{wfTaskId,jdbcType=BIGINT},
    </if>
    <if test="remark != null">
      #{remark,jdbcType=VARCHAR},
    </if>
    <if test="createId != null">
      #{createId,jdbcType=VARCHAR},
    </if>
    <if test="createName != null">
      #{createName,jdbcType=VARCHAR},
    </if>
    sysdate(),
  </sql>
  
  <select id="findList" parameterType="WfTaskRemark" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_task_remark
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_task_remark
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <insert id="save" parameterType="WfTaskRemark" keyProperty="id" useGeneratedKeys="true">
    insert into wf_task_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
    <selectKey resultType="java.lang.Long" keyProperty="id">  
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>
  <update id="update" parameterType="WfTaskRemark">
    update wf_task_remark
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
</mapper>