<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbjdl.oa.repository.WfTaskFileRepository">
	<resultMap id="BaseResultMap" type="com.zbjdl.oa.dto.wftask.WfTaskFile">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="WF_TASK_INFO_ID" jdbcType="VARCHAR" property="wfTaskInfoId" />
	  <result column="ID_CARD_A" jdbcType="VARCHAR" property="idCardA" />
	  <result column="ID_CARD_B" jdbcType="VARCHAR" property="idCardB" />
	  <result column="RESIDENCE" jdbcType="VARCHAR" property="residence" />
	  <result column="MARRY" jdbcType="VARCHAR" property="marry" />
	  <result column="DIVORCE" jdbcType="VARCHAR" property="divorce" />
	  <result column="DIVORCE_AGREEMENT" jdbcType="VARCHAR" property="divorceAgreement" />
	  <result column="SELLER_CERTIFICATE" jdbcType="VARCHAR" property="sellerCertificate" />
	  <result column="SELLER_BUSSINESS_CONTRACT" jdbcType="VARCHAR" property="sellerBussinessContract" />
	  <result column="SELLER_CREDIT_REPORT" jdbcType="VARCHAR" property="sellerCreditReport" />
	  <result column="OTHER_FILE" jdbcType="VARCHAR" property="otherFile" />
	  <result column="THREE_AGREEMENT" jdbcType="VARCHAR" property="threeAgreement" />
	  <result column="FIRST_PAYMENT_FREEZE" jdbcType="VARCHAR" property="firstPaymentFreeze" />
	  <result column="HOUSE_APPRAISAL_REPORT" jdbcType="VARCHAR" property="houseAppraisalReport" />
	  <result column="ORIGINAL_LOAN_BANK" jdbcType="VARCHAR" property="originalLoanBank" />
	  <result column="TASK_OTHER_FILE" jdbcType="VARCHAR" property="taskOtherFile" />
	  <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
	  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	  <result column="EXTEND_1" jdbcType="VARCHAR" property="extend1" />
	  <result column="EXTEND_2" jdbcType="VARCHAR" property="extend2" />
	  <result column="EXTEND_3" jdbcType="VARCHAR" property="extend3" />
	  <result column="EXTEND_4" jdbcType="VARCHAR" property="extend4" />
	  <result column="EXTEND_5" jdbcType="VARCHAR" property="extend5" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="wfTaskInfoId != null" >
	      and WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR}
	    </if>
      <if test="idCardA != null" >
	      and ID_CARD_A = #{idCardA,jdbcType=VARCHAR}
	    </if>
      <if test="idCardB != null" >
	      and ID_CARD_B = #{idCardB,jdbcType=VARCHAR}
	    </if>
      <if test="residence != null" >
	      and RESIDENCE = #{residence,jdbcType=VARCHAR}
	    </if>
      <if test="marry != null" >
	      and MARRY = #{marry,jdbcType=VARCHAR}
	    </if>
      <if test="divorce != null" >
	      and DIVORCE = #{divorce,jdbcType=VARCHAR}
	    </if>
      <if test="divorceAgreement != null" >
	      and DIVORCE_AGREEMENT = #{divorceAgreement,jdbcType=VARCHAR}
	    </if>
      <if test="sellerCertificate != null" >
	      and SELLER_CERTIFICATE = #{sellerCertificate,jdbcType=VARCHAR}
	    </if>
      <if test="sellerBussinessContract != null" >
	      and SELLER_BUSSINESS_CONTRACT = #{sellerBussinessContract,jdbcType=VARCHAR}
	    </if>
      <if test="sellerCreditReport != null" >
	      and SELLER_CREDIT_REPORT = #{sellerCreditReport,jdbcType=VARCHAR}
	    </if>
      <if test="otherFile != null" >
	      and OTHER_FILE = #{otherFile,jdbcType=VARCHAR}
	    </if>
      <if test="threeAgreement != null" >
	      and THREE_AGREEMENT = #{threeAgreement,jdbcType=VARCHAR}
	    </if>
      <if test="firstPaymentFreeze != null" >
	      and FIRST_PAYMENT_FREEZE = #{firstPaymentFreeze,jdbcType=VARCHAR}
	    </if>
      <if test="houseAppraisalReport != null" >
	      and HOUSE_APPRAISAL_REPORT = #{houseAppraisalReport,jdbcType=VARCHAR}
	    </if>
      <if test="originalLoanBank != null" >
	      and ORIGINAL_LOAN_BANK = #{originalLoanBank,jdbcType=VARCHAR}
	    </if>
      <if test="taskOtherFile != null" >
	      and TASK_OTHER_FILE = #{taskOtherFile,jdbcType=VARCHAR}
	    </if>
      <if test="fileType != null" >
	      and FILE_TYPE = #{fileType,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="extend1 != null" >
	      and EXTEND_1 = #{extend1,jdbcType=VARCHAR}
	    </if>
      <if test="extend2 != null" >
	      and EXTEND_2 = #{extend2,jdbcType=VARCHAR}
	    </if>
      <if test="extend3 != null" >
	      and EXTEND_3 = #{extend3,jdbcType=VARCHAR}
	    </if>
      <if test="extend4 != null" >
	      and EXTEND_4 = #{extend4,jdbcType=VARCHAR}
	    </if>
      <if test="extend5 != null" >
	      and EXTEND_5 = #{extend5,jdbcType=VARCHAR}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="wfTaskInfoId != null">
        WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR},
      </if>
      <if test="idCardA != null">
        ID_CARD_A = #{idCardA,jdbcType=VARCHAR},
      </if>
      <if test="idCardB != null">
        ID_CARD_B = #{idCardB,jdbcType=VARCHAR},
      </if>
      <if test="residence != null">
        RESIDENCE = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="marry != null">
        MARRY = #{marry,jdbcType=VARCHAR},
      </if>
      <if test="divorce != null">
        DIVORCE = #{divorce,jdbcType=VARCHAR},
      </if>
      <if test="divorceAgreement != null">
        DIVORCE_AGREEMENT = #{divorceAgreement,jdbcType=VARCHAR},
      </if>
      <if test="sellerCertificate != null">
        SELLER_CERTIFICATE = #{sellerCertificate,jdbcType=VARCHAR},
      </if>
      <if test="sellerBussinessContract != null">
        SELLER_BUSSINESS_CONTRACT = #{sellerBussinessContract,jdbcType=VARCHAR},
      </if>
      <if test="sellerCreditReport != null">
        SELLER_CREDIT_REPORT = #{sellerCreditReport,jdbcType=VARCHAR},
      </if>
      <if test="otherFile != null">
        OTHER_FILE = #{otherFile,jdbcType=VARCHAR},
      </if>
      <if test="threeAgreement != null">
        THREE_AGREEMENT = #{threeAgreement,jdbcType=VARCHAR},
      </if>
      <if test="firstPaymentFreeze != null">
        FIRST_PAYMENT_FREEZE = #{firstPaymentFreeze,jdbcType=VARCHAR},
      </if>
      <if test="houseAppraisalReport != null">
        HOUSE_APPRAISAL_REPORT = #{houseAppraisalReport,jdbcType=VARCHAR},
      </if>
      <if test="originalLoanBank != null">
        ORIGINAL_LOAN_BANK = #{originalLoanBank,jdbcType=VARCHAR},
      </if>
      <if test="taskOtherFile != null">
        TASK_OTHER_FILE = #{taskOtherFile,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
        UPDATE_TIME = sysdate(),
      <if test="extend1 != null">
        EXTEND_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        EXTEND_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        EXTEND_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        EXTEND_4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        EXTEND_5 = #{extend5,jdbcType=VARCHAR},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    ID,
    WF_TASK_INFO_ID,
    ID_CARD_A,
    ID_CARD_B,
    RESIDENCE,
    MARRY,
    DIVORCE,
    DIVORCE_AGREEMENT,
    SELLER_CERTIFICATE,
    SELLER_BUSSINESS_CONTRACT,
    SELLER_CREDIT_REPORT,
    OTHER_FILE,
    THREE_AGREEMENT,
    FIRST_PAYMENT_FREEZE,
    HOUSE_APPRAISAL_REPORT,
    ORIGINAL_LOAN_BANK,
    TASK_OTHER_FILE,
    FILE_TYPE,
    CREATE_TIME,
    UPDATE_TIME,
    EXTEND_1,
    EXTEND_2,
    EXTEND_3,
    EXTEND_4,
    EXTEND_5,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR},
        ID_CARD_A = #{idCardA,jdbcType=VARCHAR},
        ID_CARD_B = #{idCardB,jdbcType=VARCHAR},
        RESIDENCE = #{residence,jdbcType=VARCHAR},
        MARRY = #{marry,jdbcType=VARCHAR},
        DIVORCE = #{divorce,jdbcType=VARCHAR},
        DIVORCE_AGREEMENT = #{divorceAgreement,jdbcType=VARCHAR},
        SELLER_CERTIFICATE = #{sellerCertificate,jdbcType=VARCHAR},
        SELLER_BUSSINESS_CONTRACT = #{sellerBussinessContract,jdbcType=VARCHAR},
        SELLER_CREDIT_REPORT = #{sellerCreditReport,jdbcType=VARCHAR},
        OTHER_FILE = #{otherFile,jdbcType=VARCHAR},
        THREE_AGREEMENT = #{threeAgreement,jdbcType=VARCHAR},
        FIRST_PAYMENT_FREEZE = #{firstPaymentFreeze,jdbcType=VARCHAR},
        HOUSE_APPRAISAL_REPORT = #{houseAppraisalReport,jdbcType=VARCHAR},
        ORIGINAL_LOAN_BANK = #{originalLoanBank,jdbcType=VARCHAR},
        TASK_OTHER_FILE = #{taskOtherFile,jdbcType=VARCHAR},
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        EXTEND_1 = #{extend1,jdbcType=VARCHAR},
        EXTEND_2 = #{extend2,jdbcType=VARCHAR},
        EXTEND_3 = #{extend3,jdbcType=VARCHAR},
        EXTEND_4 = #{extend4,jdbcType=VARCHAR},
        EXTEND_5 = #{extend5,jdbcType=VARCHAR},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="wfTaskInfoId != null">
      WF_TASK_INFO_ID,
    </if>
    <if test="idCardA != null">
      ID_CARD_A,
    </if>
    <if test="idCardB != null">
      ID_CARD_B,
    </if>
    <if test="residence != null">
      RESIDENCE,
    </if>
    <if test="marry != null">
      MARRY,
    </if>
    <if test="divorce != null">
      DIVORCE,
    </if>
    <if test="divorceAgreement != null">
      DIVORCE_AGREEMENT,
    </if>
    <if test="sellerCertificate != null">
      SELLER_CERTIFICATE,
    </if>
    <if test="sellerBussinessContract != null">
      SELLER_BUSSINESS_CONTRACT,
    </if>
    <if test="sellerCreditReport != null">
      SELLER_CREDIT_REPORT,
    </if>
    <if test="otherFile != null">
      OTHER_FILE,
    </if>
    <if test="threeAgreement != null">
      THREE_AGREEMENT,
    </if>
    <if test="firstPaymentFreeze != null">
      FIRST_PAYMENT_FREEZE,
    </if>
    <if test="houseAppraisalReport != null">
      HOUSE_APPRAISAL_REPORT,
    </if>
    <if test="originalLoanBank != null">
      ORIGINAL_LOAN_BANK,
    </if>
    <if test="taskOtherFile != null">
      TASK_OTHER_FILE,
    </if>
    <if test="fileType != null">
      FILE_TYPE,
    </if>
      CREATE_TIME,
    <if test="updateTime != null">
      UPDATE_TIME,
    </if>
    <if test="extend1 != null">
      EXTEND_1,
    </if>
    <if test="extend2 != null">
      EXTEND_2,
    </if>
    <if test="extend3 != null">
      EXTEND_3,
    </if>
    <if test="extend4 != null">
      EXTEND_4,
    </if>
    <if test="extend5 != null">
      EXTEND_5,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{wfTaskInfoId,jdbcType=VARCHAR},
    #{idCardA,jdbcType=VARCHAR},
    #{idCardB,jdbcType=VARCHAR},
    #{residence,jdbcType=VARCHAR},
    #{marry,jdbcType=VARCHAR},
    #{divorce,jdbcType=VARCHAR},
    #{divorceAgreement,jdbcType=VARCHAR},
    #{sellerCertificate,jdbcType=VARCHAR},
    #{sellerBussinessContract,jdbcType=VARCHAR},
    #{sellerCreditReport,jdbcType=VARCHAR},
    #{otherFile,jdbcType=VARCHAR},
    #{threeAgreement,jdbcType=VARCHAR},
    #{firstPaymentFreeze,jdbcType=VARCHAR},
    #{houseAppraisalReport,jdbcType=VARCHAR},
    #{originalLoanBank,jdbcType=VARCHAR},
    #{taskOtherFile,jdbcType=VARCHAR},
    #{fileType,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
    #{extend1,jdbcType=VARCHAR},
    #{extend2,jdbcType=VARCHAR},
    #{extend3,jdbcType=VARCHAR},
    #{extend4,jdbcType=VARCHAR},
    #{extend5,jdbcType=VARCHAR},
	</sql>
  <sql id="Selective_Value_List">
    <if test="wfTaskInfoId != null">
      #{wfTaskInfoId,jdbcType=VARCHAR},
    </if>
    <if test="idCardA != null">
      #{idCardA,jdbcType=VARCHAR},
    </if>
    <if test="idCardB != null">
      #{idCardB,jdbcType=VARCHAR},
    </if>
    <if test="residence != null">
      #{residence,jdbcType=VARCHAR},
    </if>
    <if test="marry != null">
      #{marry,jdbcType=VARCHAR},
    </if>
    <if test="divorce != null">
      #{divorce,jdbcType=VARCHAR},
    </if>
    <if test="divorceAgreement != null">
      #{divorceAgreement,jdbcType=VARCHAR},
    </if>
    <if test="sellerCertificate != null">
      #{sellerCertificate,jdbcType=VARCHAR},
    </if>
    <if test="sellerBussinessContract != null">
      #{sellerBussinessContract,jdbcType=VARCHAR},
    </if>
    <if test="sellerCreditReport != null">
      #{sellerCreditReport,jdbcType=VARCHAR},
    </if>
    <if test="otherFile != null">
      #{otherFile,jdbcType=VARCHAR},
    </if>
    <if test="threeAgreement != null">
      #{threeAgreement,jdbcType=VARCHAR},
    </if>
    <if test="firstPaymentFreeze != null">
      #{firstPaymentFreeze,jdbcType=VARCHAR},
    </if>
    <if test="houseAppraisalReport != null">
      #{houseAppraisalReport,jdbcType=VARCHAR},
    </if>
    <if test="originalLoanBank != null">
      #{originalLoanBank,jdbcType=VARCHAR},
    </if>
    <if test="taskOtherFile != null">
      #{taskOtherFile,jdbcType=VARCHAR},
    </if>
    <if test="fileType != null">
      #{fileType,jdbcType=VARCHAR},
    </if>
      sysdate(),
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=VARCHAR},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=VARCHAR},
    </if>
    <if test="extend3 != null">
      #{extend3,jdbcType=VARCHAR},
    </if>
    <if test="extend4 != null">
      #{extend4,jdbcType=VARCHAR},
    </if>
    <if test="extend5 != null">
      #{extend5,jdbcType=VARCHAR},
    </if>
  </sql>
  
  <select id="findList" parameterType="WfTaskFile" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_task_file
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_task_file
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <insert id="save" parameterType="WfTaskFile" keyProperty="id" useGeneratedKeys="true">
    insert into wf_task_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
    <selectKey resultType="java.lang.Long" keyProperty="id">  
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>
  
  <update id="update" parameterType="WfTaskFile">
    update wf_task_file
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="WfTaskFile" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_task_file
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>