<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbjdl.oa.repository.WfUserInfoRepository">
	<resultMap id="BaseResultMap" type="com.zbjdl.oa.dto.wftask.WfUserInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="WF_TASK_INFO_ID" jdbcType="VARCHAR" property="wfTaskInfoId" />
	  <result column="NAME_A" jdbcType="VARCHAR" property="nameA" />
	  <result column="PHONE_A" jdbcType="VARCHAR" property="phoneA" />
	  <result column="ID_CARD_A" jdbcType="VARCHAR" property="idCardA" />
	  <result column="NAME_B" jdbcType="VARCHAR" property="nameB" />
	  <result column="PHONE_B" jdbcType="VARCHAR" property="phoneB" />
	  <result column="ID_CARD_B" jdbcType="VARCHAR" property="idCardB" />
	  <result column="NOTE" jdbcType="VARCHAR" property="note" />
	  <result column="SELLER_CERTIFICATE_NO" jdbcType="VARCHAR" property="sellerCertificateNo" />
	  <result column="SELLER_AMOUNT" jdbcType="DECIMAL" property="sellerAmount" />
	  <result column="SELLER_SOLUTION_AMOUNT" jdbcType="DECIMAL" property="sellerSolutionAmount" />
	  <result column="SELLER_CERTIFICATE_ADRESS" jdbcType="VARCHAR" property="sellerCertificateAdress" />
	  <result column="SELLER_BUSSINESS_TYPE" jdbcType="VARCHAR" property="sellerBussinessType" />
	  <result column="SELLER_BUSSINESS_SUB" jdbcType="VARCHAR" property="sellerBussinessSub" />
	  <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
	  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	  <result column="EXTEND_1" jdbcType="DECIMAL" property="extend1" />
	  <result column="EXTEND_2" jdbcType="DECIMAL" property="extend2" />
	  <result column="EXTEND_3" jdbcType="VARCHAR" property="extend3" />
	  <result column="EXTEND_4" jdbcType="VARCHAR" property="extend4" />
	  <result column="EXTEND_5" jdbcType="VARCHAR" property="extend5" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="wfTaskInfoId != null" >
	      and WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR}
	    </if>
      <if test="nameA != null" >
	      and NAME_A = #{nameA,jdbcType=VARCHAR}
	    </if>
      <if test="phoneA != null" >
	      and PHONE_A = #{phoneA,jdbcType=VARCHAR}
	    </if>
      <if test="idCardA != null" >
	      and ID_CARD_A = #{idCardA,jdbcType=VARCHAR}
	    </if>
      <if test="nameB != null" >
	      and NAME_B = #{nameB,jdbcType=VARCHAR}
	    </if>
      <if test="phoneB != null" >
	      and PHONE_B = #{phoneB,jdbcType=VARCHAR}
	    </if>
      <if test="idCardB != null" >
	      and ID_CARD_B = #{idCardB,jdbcType=VARCHAR}
	    </if>
      <if test="note != null" >
	      and NOTE = #{note,jdbcType=VARCHAR}
	    </if>
      <if test="sellerCertificateNo != null" >
	      and SELLER_CERTIFICATE_NO = #{sellerCertificateNo,jdbcType=VARCHAR}
	    </if>
      <if test="sellerAmount != null" >
	      and SELLER_AMOUNT = #{sellerAmount,jdbcType=DECIMAL}
	    </if>
      <if test="sellerSolutionAmount != null" >
	      and SELLER_SOLUTION_AMOUNT = #{sellerSolutionAmount,jdbcType=DECIMAL}
	    </if>
      <if test="sellerCertificateAdress != null" >
	      and SELLER_CERTIFICATE_ADRESS = #{sellerCertificateAdress,jdbcType=VARCHAR}
	    </if>
      <if test="sellerBussinessType != null" >
	      and SELLER_BUSSINESS_TYPE = #{sellerBussinessType,jdbcType=VARCHAR}
	    </if>
      <if test="sellerBussinessSub != null" >
	      and SELLER_BUSSINESS_SUB = #{sellerBussinessSub,jdbcType=VARCHAR}
	    </if>
      <if test="userType != null" >
	      and USER_TYPE = #{userType,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="extend1 != null" >
	      and EXTEND_1 = #{extend1,jdbcType=DECIMAL}
	    </if>
      <if test="extend2 != null" >
	      and EXTEND_2 = #{extend2,jdbcType=DECIMAL}
	    </if>
      <if test="extend3 != null" >
	      and EXTEND_3 = #{extend3,jdbcType=VARCHAR}
	    </if>
      <if test="extend4 != null" >
	      and EXTEND_4 = #{extend4,jdbcType=VARCHAR}
	    </if>
      <if test="extend5 != null" >
	      and EXTEND_5 = #{extend5,jdbcType=VARCHAR}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="wfTaskInfoId != null">
        WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR},
      </if>
      <if test="nameA != null">
        NAME_A = #{nameA,jdbcType=VARCHAR},
      </if>
      <if test="phoneA != null">
        PHONE_A = #{phoneA,jdbcType=VARCHAR},
      </if>
      <if test="idCardA != null">
        ID_CARD_A = #{idCardA,jdbcType=VARCHAR},
      </if>
      <if test="nameB != null">
        NAME_B = #{nameB,jdbcType=VARCHAR},
      </if>
      <if test="phoneB != null">
        PHONE_B = #{phoneB,jdbcType=VARCHAR},
      </if>
      <if test="idCardB != null">
        ID_CARD_B = #{idCardB,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="sellerCertificateNo != null">
        SELLER_CERTIFICATE_NO = #{sellerCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerAmount != null">
        SELLER_AMOUNT = #{sellerAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellerSolutionAmount != null">
        SELLER_SOLUTION_AMOUNT = #{sellerSolutionAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellerCertificateAdress != null">
        SELLER_CERTIFICATE_ADRESS = #{sellerCertificateAdress,jdbcType=VARCHAR},
      </if>
      <if test="sellerBussinessType != null">
        SELLER_BUSSINESS_TYPE = #{sellerBussinessType,jdbcType=VARCHAR},
      </if>
      <if test="sellerBussinessSub != null">
        SELLER_BUSSINESS_SUB = #{sellerBussinessSub,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
        UPDATE_TIME = sysdate(),
      <if test="extend1 != null">
        EXTEND_1 = #{extend1,jdbcType=DECIMAL},
      </if>
      <if test="extend2 != null">
        EXTEND_2 = #{extend2,jdbcType=DECIMAL},
      </if>
      <if test="extend3 != null">
        EXTEND_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        EXTEND_4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        EXTEND_5 = #{extend5,jdbcType=VARCHAR},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    ID,
    WF_TASK_INFO_ID,
    NAME_A,
    PHONE_A,
    ID_CARD_A,
    NAME_B,
    PHONE_B,
    ID_CARD_B,
    NOTE,
    SELLER_CERTIFICATE_NO,
    SELLER_AMOUNT,
    SELLER_SOLUTION_AMOUNT,
    SELLER_CERTIFICATE_ADRESS,
    SELLER_BUSSINESS_TYPE,
    SELLER_BUSSINESS_SUB,
    USER_TYPE,
    CREATE_TIME,
    UPDATE_TIME,
    EXTEND_1,
    EXTEND_2,
    EXTEND_3,
    EXTEND_4,
    EXTEND_5,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        WF_TASK_INFO_ID = #{wfTaskInfoId,jdbcType=VARCHAR},
        NAME_A = #{nameA,jdbcType=VARCHAR},
        PHONE_A = #{phoneA,jdbcType=VARCHAR},
        ID_CARD_A = #{idCardA,jdbcType=VARCHAR},
        NAME_B = #{nameB,jdbcType=VARCHAR},
        PHONE_B = #{phoneB,jdbcType=VARCHAR},
        ID_CARD_B = #{idCardB,jdbcType=VARCHAR},
        NOTE = #{note,jdbcType=VARCHAR},
        SELLER_CERTIFICATE_NO = #{sellerCertificateNo,jdbcType=VARCHAR},
        SELLER_AMOUNT = #{sellerAmount,jdbcType=DECIMAL},
        SELLER_SOLUTION_AMOUNT = #{sellerSolutionAmount,jdbcType=DECIMAL},
        SELLER_CERTIFICATE_ADRESS = #{sellerCertificateAdress,jdbcType=VARCHAR},
        SELLER_BUSSINESS_TYPE = #{sellerBussinessType,jdbcType=VARCHAR},
        SELLER_BUSSINESS_SUB = #{sellerBussinessSub,jdbcType=VARCHAR},
        USER_TYPE = #{userType,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        EXTEND_1 = #{extend1,jdbcType=DECIMAL},
        EXTEND_2 = #{extend2,jdbcType=DECIMAL},
        EXTEND_3 = #{extend3,jdbcType=VARCHAR},
        EXTEND_4 = #{extend4,jdbcType=VARCHAR},
        EXTEND_5 = #{extend5,jdbcType=VARCHAR},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="wfTaskInfoId != null">
      WF_TASK_INFO_ID,
    </if>
    <if test="nameA != null">
      NAME_A,
    </if>
    <if test="phoneA != null">
      PHONE_A,
    </if>
    <if test="idCardA != null">
      ID_CARD_A,
    </if>
    <if test="nameB != null">
      NAME_B,
    </if>
    <if test="phoneB != null">
      PHONE_B,
    </if>
    <if test="idCardB != null">
      ID_CARD_B,
    </if>
    <if test="note != null">
      NOTE,
    </if>
    <if test="sellerCertificateNo != null">
      SELLER_CERTIFICATE_NO,
    </if>
    <if test="sellerAmount != null">
      SELLER_AMOUNT,
    </if>
    <if test="sellerSolutionAmount != null">
      SELLER_SOLUTION_AMOUNT,
    </if>
    <if test="sellerCertificateAdress != null">
      SELLER_CERTIFICATE_ADRESS,
    </if>
    <if test="sellerBussinessType != null">
      SELLER_BUSSINESS_TYPE,
    </if>
    <if test="sellerBussinessSub != null">
      SELLER_BUSSINESS_SUB,
    </if>
    <if test="userType != null">
      USER_TYPE,
    </if>
      CREATE_TIME,
    <if test="updateTime != null">
      UPDATE_TIME,
    </if>
    <if test="extend1 != null">
      EXTEND_1,
    </if>
    <if test="extend2 != null">
      EXTEND_2,
    </if>
    <if test="extend3 != null">
      EXTEND_3,
    </if>
    <if test="extend4 != null">
      EXTEND_4,
    </if>
    <if test="extend5 != null">
      EXTEND_5,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{wfTaskInfoId,jdbcType=VARCHAR},
    #{nameA,jdbcType=VARCHAR},
    #{phoneA,jdbcType=VARCHAR},
    #{idCardA,jdbcType=VARCHAR},
    #{nameB,jdbcType=VARCHAR},
    #{phoneB,jdbcType=VARCHAR},
    #{idCardB,jdbcType=VARCHAR},
    #{note,jdbcType=VARCHAR},
    #{sellerCertificateNo,jdbcType=VARCHAR},
    #{sellerAmount,jdbcType=DECIMAL},
    #{sellerSolutionAmount,jdbcType=DECIMAL},
    #{sellerCertificateAdress,jdbcType=VARCHAR},
    #{sellerBussinessType,jdbcType=VARCHAR},
    #{sellerBussinessSub,jdbcType=VARCHAR},
    #{userType,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
    #{extend1,jdbcType=DECIMAL},
    #{extend2,jdbcType=DECIMAL},
    #{extend3,jdbcType=VARCHAR},
    #{extend4,jdbcType=VARCHAR},
    #{extend5,jdbcType=VARCHAR},
	</sql>
  <sql id="Selective_Value_List">
    <if test="wfTaskInfoId != null">
      #{wfTaskInfoId,jdbcType=VARCHAR},
    </if>
    <if test="nameA != null">
      #{nameA,jdbcType=VARCHAR},
    </if>
    <if test="phoneA != null">
      #{phoneA,jdbcType=VARCHAR},
    </if>
    <if test="idCardA != null">
      #{idCardA,jdbcType=VARCHAR},
    </if>
    <if test="nameB != null">
      #{nameB,jdbcType=VARCHAR},
    </if>
    <if test="phoneB != null">
      #{phoneB,jdbcType=VARCHAR},
    </if>
    <if test="idCardB != null">
      #{idCardB,jdbcType=VARCHAR},
    </if>
    <if test="note != null">
      #{note,jdbcType=VARCHAR},
    </if>
    <if test="sellerCertificateNo != null">
      #{sellerCertificateNo,jdbcType=VARCHAR},
    </if>
    <if test="sellerAmount != null">
      #{sellerAmount,jdbcType=DECIMAL},
    </if>
    <if test="sellerSolutionAmount != null">
      #{sellerSolutionAmount,jdbcType=DECIMAL},
    </if>
    <if test="sellerCertificateAdress != null">
      #{sellerCertificateAdress,jdbcType=VARCHAR},
    </if>
    <if test="sellerBussinessType != null">
      #{sellerBussinessType,jdbcType=VARCHAR},
    </if>
    <if test="sellerBussinessSub != null">
      #{sellerBussinessSub,jdbcType=VARCHAR},
    </if>
    <if test="userType != null">
      #{userType,jdbcType=VARCHAR},
    </if>
      sysdate(),
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=DECIMAL},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=DECIMAL},
    </if>
    <if test="extend3 != null">
      #{extend3,jdbcType=VARCHAR},
    </if>
    <if test="extend4 != null">
      #{extend4,jdbcType=VARCHAR},
    </if>
    <if test="extend5 != null">
      #{extend5,jdbcType=VARCHAR},
    </if>
  </sql>
  
  <select id="findList" parameterType="WfUserInfo" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_user_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_user_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="save" parameterType="WfUserInfo" keyProperty="id" useGeneratedKeys="true">
    insert into wf_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
    <selectKey resultType="java.lang.Long" keyProperty="id">  
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>

  <update id="update" parameterType="WfUserInfo">
    update wf_user_info
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="WfUserInfo" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from wf_user_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>